<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> System Report</title> 
    <link rel="stylesheet" href="css/styles.css">
   </head>
<body>
  <div class="wrapper">
    <h2>Create System Report</h2>
    <form action="/systemReport" method= "post">
      <div class="input-box">
        <p>from</p>
        <input type="date" name="startdate" placeholder="from" required>
      </div>
      <div class="input-box">
        <p>to</p>
        <input type="date" name="enddate" placeholder="from" required>
      </div>
      <br>
      <div class="input-box button">
        <input type="Submit" value="submit">
      </div>
    </form>
  </div>
</body>
</html>